DB_SERVER=172.16.30.20
DB_PORT=1433
DB_NAME=CRM_Intranet
DB_USER=intranet
DB_PASS=
SQLITE_PATH=/srv/crmintratools/Data/crmintratools.sqlite
SMTP_HOST=172.16.30.25
SMTP_PORT=25
EMAIL_FROM=services@crm.cat
EMAIL_TO=